<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>cardrechargebonus</name>
            <displayName><![CDATA[Payement par carte de recharge ou Bonus]]></displayName>
            <version><![CDATA[2.3]]></version>
            <description><![CDATA[Ce module vous permet d&#039;accepter des paiements par carte de recharge ou Bonus]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Êtes-vous sûr de vouloir supprimer vos paramètres ?</confirmUninstall>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>